<div class="container-fluid">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Update Employee
            </h1>
            <ol class="breadcrumb">
                <li>
                    <i class="fa fa-dashboard"></i>  <a href="#/home">Dashboard</a>
                </li>
                <li class="active">
                    <i class="fa fa-edit"></i> Update Employee
                </li>
            </ol>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <form role="form">
            <div class="row">
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Employee FirstName</label>
                        <input class="form-control" placeholder="Employee FirstName" ng-model="registration.FirstName" value="{{registration.FirstName}}">
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Employee LastName</label>
                        <input class="form-control" placeholder="Employee LastName" ng-model="registration.LastName" value="{{registration.LastName}}">
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Employee Date of Birth</label>
                        <input class="form-control" type="date" ng-model="registration.DOB" value="{{registration.DOB | date : 'yyyy-MM-dd'}}">
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Position</label>
                        <select multiple class="form-control" ng-model="positions">
                            <option>Junior Software Developer</option>
                            <option>Senior Software Developer</option>
                            <option>Project Manager</option>
                            <option>Software Tester</option>
                            <option>Manager</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Guardian FirstName</label>
                        <input class="form-control" placeholder="Guardian FirstName" ng-model="registration.EmployeeDependencies.FirstName" value="{{registration.EmployeeDependencies.FirstName}}">
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Guardian LastName</label>
                        <input class="form-control" placeholder="Guardian LastName" ng-model="registration.EmployeeDependencies.LastName" value="{{registration.EmployeeDependencies.LastName}}">
                    </div>

                </div>
                <div class="col-lg-6">

                    <div class="form-group">
                        <label>Guradian Date of Birth</label>
                        <input class="form-control" type="date" ng-model="registration.EmployeeDependencies.DOB" value="{{registration.EmployeeDependencies.DOB | date : 'yyyy-MM-dd'}}">
                    </div>

                </div>
                <div class="col-lg-6">
                    <div class="form-group">
                        <label>Relationship</label>
                        <input class="form-control" placeholder="Relation" ng-model="registration.EmployeeDependencies.Relation" value="{{registration.EmployeeDependencies.Relation}}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <button type="submit" class="btn btn-default" ng-click="Update()">Submit</button>
                    </div>
                </div>
        </form>

    </div>
    <!-- /.row -->
</div>
<!-- /.container-fluid -->
